<div class="card">
  <div class="card-img-top">
    <img src="{{flag.svg}}" alt="{{name.official}}" width="60px" height="30px">
  </div>
  <div class="card-body">
    <p class="item__title">{{name.official}}</p>
    <p class="item__text"><b>Capital</b>: {{capital}}</p>
    <p class="item__text"><b>Population</b>:{{population}}</p>
    <p class="item__text"><b>Languages</b>:
    {{#each languages}}
    <span>{{languag}}</span>
    {{/each}}
  </div>
</div>